body {
  background-color: #eee;
  color: #444;
  margin: 0; }

ul {
  margin: 0; }

.app {
  width: 1000px;
  margin: 40px auto 0;
  display: flex; }

.left-navi {
  list-style-type: none;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 1px solid #ccc; }

.app-title {
  text-align: center;
  margin-top: 0; }

.result-area {
  display: flex; }

.result-right {
  margin-left: 20px; }

.search-form {
  text-align: center;
  margin-bottom: 40px; }

.place-input {
  font-size: 24px;
  padding: 5px 3px 6px; }

.submit-button {
  -webkit-appearance: none;
  font-size: 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px; }

.geocode-result {
  text-align: left; }

.map {
  height: 400px;
  width: 350px; }

.hotel-price-column {
  min-width: 70px; }

td {
  padding: 4px; }

.hotels-clickable-th {
  color: blue;
  cursor: pointer;
  width: 80px; }
